<!DOCTYPE html>
<html>
<head>
    <title>GitHub Portfolio Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav class="navbar">
        <h2>GitHub Portfolio Tracker</h2>

        <div class="nav-links">
            <a href="/">Dashboard</a>
            <a href="/add">Add Repo</a>
            <a href="/issues">Saved Issues</a>

            {% if session.get("github_username") %}
                <span class="user-info">
                    {{ session.get("github_username") }}
                </span>
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login with GitHub</a>
            {% endif %}
        </div>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>